.conteiner_car {
    flex-direction: row;
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
}

.card_pole {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}


/* slider */

.slider_menu {
    border-right: 2px solid #c2c2c221;
    z-index: 2;
    border-radius: 10px 0px 0px 10px;
    display: block;
    justify-content: center;
    width: 80px;
}

.slider_menu.active {
    transition: all 0.4s ease 0s;
    width: 300px;
    justify-content: center;
    align-items: center;
}

.slider_text {
    display: none;
}

.slider_text.active {
    display: block;
    justify-content: center;
    text-align: center;
}

.title_price {
    text-align: left;
    margin-left: 25px;
    margin-bottom: 10px;
}

.input_price {
    display: flex;
    page-break-after: 10px;
    justify-content: space-around;
}

.order_input {
    width: 80px;
}

.total_price {
    margin-top: 50px;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 10px;
    font-size: 24px;
}

.total_price_output {
    color: #000000;
    margin: 0 auto;
    width: 225px;
    height: 50px;
    background-color: #c2c2c221;
}

.sort {
    display: flex;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 20px;
}

.select_sort {
    width: 150px;
}


/* button */

.calculate {
    cursor: pointer;
    margin-top: 20px;
    color: #ffffff;
    font-weight: 300;
    width: 100px;
    height: 40px;
    color: #000000;
}

.calculate:focus {
    background-color: #000000;
    color: #ffffff;
}

.accept {
    cursor: pointer;
    margin-top: 50px;
    color: #ffffff;
    font-weight: 300;
    width: 100px;
    height: 40px;
    color: #000000;
}

.accept:focus {
    color: #ffffff;
    background-color: #000000;
}


/* burger */

.header_burger {
    margin-left: 20px;
    margin-top: 20px;
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    margin-bottom: 50px;
}

.header_burger span {
    position: absolute;
    background-color: black;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
}

.header_burger::before,
.header_burger::after {
    content: '';
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
}

.header_burger::before {
    top: 0;
}

.header_burger::after {
    bottom: 0;
}

.header_burger.active span {
    transform: scale(0);
}

.header_burger.active::before {
    transform: rotate(45deg);
    top: 9px;
}

.header_burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
}


/* card */

.hero_card {
    width: 100%;
    display: flex;
    background-color: #ffffff;
    color: #000000;
    margin-top: 40px;
    border-radius: 10px;
    justify-content: space-between;
}

.cars {
    border-radius: 50px;
    background-color: rgb(177, 177, 177);
}

.card_pole {
    padding-top: 20px;
}

.cars_card {
    position: relative;
    margin: 10px;
    width: 320px;
    height: 345px;
    perspective: 1000px;
}

.front_card,
.back_card {
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: 1.5s;
}

.front_card {}

.back_card {
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    background-color: rgba(0, 0, 0, 0.014);
    transform: rotateY(180deg);
}

.cars_card:hover .front_card {
    transform: rotateY(180deg);
}

.cars_card:hover .back_card {
    transform: rotateY(360deg);
}

.card_image__poligon {
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 5px;
    object-fit: cover;
}

.card_image {
    overflow: hidden;
    height: 180px;
    width: 100%;
    background-color: rgb(216, 216, 216);
}


/* button */

.card_button {
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.card_button__edit {
    color: #000000;
    border: 1px solid #000000;
    background-color: #ffffff;
    text-align: center;
    height: 20px;
    width: 120px;
}

.card_button__remove {
    background-color: rgb(197, 68, 1);
    text-align: center;
    height: 20px;
    width: 120px;
}


/* main_information */

.card_information {
    background-color: #3d3d3d10;
    width: 100%;
    height: 160px;
    border-radius: 0px 0px 10px 10px;
}

.card_information__title {
    font-size: 30px;
    font-weight: 500;
}

.card_information__price {
    font-size: 40px;
    font-weight: 500;
    color: rgb(39, 172, 27);
}

.card_informatio__car {
    color: #000000;
    font-size: 28px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
}

.card_information__brand {
    padding-right: 5px;
}

.card_information__model {}

.card_information__type {
    padding-left: 20px;
    font-size: 14px;
    padding-bottom: 3px;
    padding-top: 3px;
}


/* back_card */

.card_information_description {
    margin-left: 70px;
    font-size: 32px;
    font-weight: 500;
}

.information_textarea {
    width: 280px;
    border-radius: 30px;
    border: 1px solid #000000;
    background-color: #ffffff;
    color: #000000;
    resize: none;
    height: 230px;
    padding: 10px;
}